* {
    margin: 0px;
    padding: 0px;
  }

  /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0;
    left:0;
   
    /* background-color: rgb(148, 195, 207); Black */
    background-color: rgb(149, 24, 160);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 9px;
  }
  /*  */

  
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color:black;
  }

  .main {
    width: 60%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 250px; /* Same as the width of the sidebar */
    padding-left: 5px;
    
  }  

